@import "tailwindcss";
:root {
  --font-size: 16px;
  --background: #ffffff;
  --foreground: oklch(0.145 0 0);
  --card: #ffffff;
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #030213;
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.95 0.0058 264.53);
  --secondary-foreground: #030213;
  --muted: #ececf0;
  --muted-foreground: #717182;
  --accent: #e9ebef;
  --accent-foreground: #030213;
  --destructive: #d4183d;
  --destructive-foreground: #ffffff;
  --border: rgba(0, 0, 0, 0.1);
  --input: transparent;
  --input-background: #f3f3f5;
  --switch-background: #cbced4;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-switch-background: var(--switch-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/**
 * Base typography. This is not applied to elements which have an ancestor with a Tailwind text class.
 */
@layer base {
  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) {
    h1 {
      font-size: var(--text-2xl);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h3 {
      font-size: var(--text-lg);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h4 {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    p {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }

    label {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    button {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    input {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }
  }
}

html {
  font-size: var(--font-size);
}

::selection {
  background-color: #7a7a7a; /* gray background */
  color: #000; /* text color while selected */
}

.section-how-it-works-section-heading {
  left: 50%;
  transform: translateX(-50%);
}
.section-how-it-works-workingmethods {
  left: 50%;
  transform: translateX(-50%);
}

.section-how-it-works-section-how-it-works {
  height: 650px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: transparent;
}
.section-how-it-works-section-heading {
  top: 24px;
  width: 650px;
  height: 136px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-text10 {
  top: 90px;
  width: 650px;
  position: absolute;
  font-size: 18px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 130%;
  color: #4b5563; /* text-gray-600 */
}
.section-how-it-works-text11 {
  left: 200px;
  position: absolute;
}
.section-how-it-works-workingmethods {
  top: 200px;
  width: 1130px;
  height: 418px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-vector3371 {
  top: 12px;
  left: 140px;
  width: 774px;
  height: 193px;
  position: absolute;
}
.section-how-it-works-group1000001603 {
  top: 1px;
  left: 872px;
  width: 258px;
  height: 417px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-group1000001600 {
  top: 0;
  left: 0;
  width: 258px;
  height: 417px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-group1000001607 {
  top: 0;
  left: 0;
  width: 258px;
  height: 417px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-group1000001372 {
  top: 0;
  left: 59px;
  width: 140px;
  height: 194px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-group1000001363 {
  top: 0;
  left: 35.5013px;
  width: 45.1414px;
  height: 45.1414px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-rectangle10 {
  top: 16.0156px;
  left: -16.0156px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  position: absolute;
  border-radius: 15.9042px;
}
.section-how-it-works-vector1 {
  top: 26.0944px;
  left: 0.1432px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.section-how-it-works-group1000001364 {
  top: 16.8685px;
  left: 59.9845px;
  width: 37.9536px;
  height: 31.6275px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-text12 {
  left: 0;
  color: #fff;
  width: 32px;
  position: absolute;
  font-size: 9.4884px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}
.section-how-it-works-text13 {
  top: 14.2322px;
  left: 0;
  color: #fff;
  width: 38px;
  position: absolute;
  font-size: 14.7597px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}
.section-how-it-works-group1000001365 {
  top: 70.6369px;
  left: 60px;
  width: 55.8762px;
  height: 49.0227px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-group17 {
  top: 0;
  left: 15.5271px;
  width: 21.9589px;
  height: 21.9586px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-star1,
.section-how-it-works-star2,
.section-how-it-works-star3,
.section-how-it-works-star4 {
  width: 4px;
  height: 4px;
  position: absolute;
}
.section-how-it-works-star1 {
  top: 13.2946px;
  left: -13.2946px;
}
.section-how-it-works-star2 {
  top: 13.3291px;
  left: -5.8849px;
}
.section-how-it-works-star3 {
  top: 13.3641px;
  left: 1.5243px;
}
.section-how-it-works-star4 {
  top: 13.3991px;
  left: 8.934px;
}
.section-how-it-works-text14 {
  top: 9.4879px;
  left: 34.2638px;
  color: #fff;
  width: 22px;
  position: absolute;
  font-size: 9.4884px;
  text-align: left;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}
.section-how-it-works-text15 {
  top: 27.9375px;
  left: 2.1087px;
  color: #fff;
  width: 54px;
  position: absolute;
  font-size: 21.0853px;
  line-height: 21.0853px;
  text-align: left;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}
.section-how-it-works-text16 {
  top: 302px;
  color: #4b5563; /* text-gray-600 */
  width: 258px;
  position: absolute;
  font-size: 18px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 130%;
}
.section-how-it-works-text17 {
  top: 229.7559px;
  left: 5px;
  color: #000; /* text-black */
  position: absolute;
  font-size: 28px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}
.section-how-it-works-group1000001408 {
  top: 71px;
  left: 10px;
  width: 101px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: #fff;
}
.section-how-it-works-group1000001403 {
  top: 13px;
  left: 12px;
  width: 78px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-text18 {
  left: 15px;
  color: #505050;
  position: absolute;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}
.section-how-it-works-group1000001383 {
  top: 3px;
  left: 0;
  width: 9px;
  height: 9px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-group1000001384 {
  top: 0;
  left: 0;
  width: 9px;
  height: 9px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-rectangle4271 {
  top: 4px;
  left: 0;
  width: 9px;
  height: 1px;
  position: absolute;
}
.section-how-it-works-rectangle4272 {
  top: 0;
  left: 5.5px;
  width: 9px;
  height: 1px;
  position: absolute;
}
.section-how-it-works-group1000001601 {
  top: 1.0449px;
  left: 436px;
  width: 258px;
  height: 416.9551px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-group1000001606 {
  top: 0;
  left: 0;
  width: 258px;
  height: 416.9551px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-group1000001369 {
  top: 229.7109px;
  left: 0;
  width: 258px;
  height: 187.2441px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-text19 {
  top: 72.2441px;
  color: #4b5563; /* text-gray-600 */
  width: 258px;
  position: absolute;
  font-size: 18px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 130%;
}
.section-how-it-works-text20 {
  left: 6px;
  color: #000; /* text-black */
  position: absolute;
  font-size: 28px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}
.section-how-it-works-group1000001605 {
  top: 0;
  left: 31px;
  width: 196px;
  height: 161.8578px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-group471 {
  top: 25.9221px;
  left: 0;
  width: 170.71px;
  height: 135.9357px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: #fff;
}
.section-how-it-works-rectangle392,
.section-how-it-works-rectangle393,
.section-how-it-works-rectangle394,
.section-how-it-works-rectangle395,
.section-how-it-works-rectangle396 {
  position: absolute;
  border-radius: 3.1613px;
}
.section-how-it-works-rectangle392 {
  top: 52.478px;
  left: 18.9668px;
  width: 20px;
  height: 63px;
}
.section-how-it-works-rectangle393 {
  top: 98.633px;
  left: 47.1025px;
  width: 20px;
  height: 17px;
}
.section-how-it-works-rectangle394 {
  top: 37.3038px;
  left: 75.2382px;
  width: 20px;
  height: 78px;
}
.section-how-it-works-rectangle395 {
  top: 75.8712px;
  left: 103.374px;
  width: 20px;
  height: 40px;
}
.section-how-it-works-rectangle396 {
  top: 69.5496px;
  left: 131.5097px;
  width: 20px;
  height: 46px;
}
.section-how-it-works-group470 {
  top: 0;
  left: 132.7737px;
  width: 63.2259px;
  height: 63.2259px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: #fff;
}
.section-how-it-works-group3910 {
  top: 13.2769px;
  left: 13.279px;
  width: 36.671px;
  height: 36.671px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-ellipse157 {
  top: 0;
  left: 0;
  width: 37px;
  height: 37px;
  position: absolute;
}
.section-how-it-works-surface1 {
  top: 21.9551px;
  left: 186.4844px;
  width: 17.0311px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-vector2 {
  top: 6.1897px;
  left: 4.7045px;
  width: 8px;
  height: 8px;
  position: absolute;
}
.section-how-it-works-vector3 {
  top: 0;
  left: 0;
  width: 17px;
  height: 20px;
  position: absolute;
}
.section-how-it-works-group1000001602 {
  top: 0;
  left: 0;
  width: 258px;
  height: 418px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-group1000001368 {
  top: 233.7559px;
  left: 0;
  width: 258px;
  height: 184.2441px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-text21 {
  left: 18px;
  color: #000; /* text-black */
  position: absolute;
  font-size: 28px;
  text-align: left;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}
.section-how-it-works-text22 {
  top: 69.2441px;
  color: #4b5563; /* text-gray-600 */
  width: 258px;
  position: absolute;
  font-size: 18px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 130%;
}
.section-how-it-works-group1000001367 {
  top: 0;
  left: 45px;
  width: 168px;
  height: 99.456px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-group720 {
  top: 0;
  left: 0;
  width: 168px;
  height: 99.456px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: #fff;
}
.section-how-it-works-rectangle735,
.section-how-it-works-rectangle736,
.section-how-it-works-rectangle737,
.section-how-it-works-rectangle739 {
  position: absolute;
  border-radius: 10px;
}
.section-how-it-works-rectangle735 {
  top: 21px;
  left: 27px;
  width: 77px;
  height: 6px;
}
.section-how-it-works-rectangle736 {
  top: 38px;
  left: 27px;
  width: 114px;
  height: 6px;
}
.section-how-it-works-rectangle737 {
  top: 55px;
  left: 27px;
  width: 50px;
  height: 6px;
}
.section-how-it-works-rectangle739 {
  top: 72px;
  left: 27px;
  width: 77px;
  height: 6px;
}
.section-how-it-works-group1000001604 {
  top: 110px;
  left: 46px;
  width: 165.984px;
  height: 53.76px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.section-how-it-works-group727 {
  top: 0;
  left: 0;
  width: 165.984px;
  height: 53.76px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: #000;
}
.section-how-it-works-rectangle731 {
  top: 23.0005px;
  left: 57.12px;
  width: 87px;
  height: 6px;
  position: absolute;
  border-radius: 8px;
}
.section-how-it-works-group1000001409 {
  top: 10.2715px;
  left: 11.4238px;
  width: 31.584px;
  height: 31.584px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: #fff;
}
.section-how-it-works-cloudcomputing1 {
  top: 6.7285px;
  left: 6.5762px;
  width: 18px;
  height: 18px;
  position: absolute;
}

/* How It Works typography weights to match other sections */
.section-how-it-works-text11,
.section-how-it-works-text17,
.section-how-it-works-text20,
.section-how-it-works-text21 {
  font-weight: 700;
}
.section-how-it-works-text10,
.section-how-it-works-text16,
.section-how-it-works-text19,
.section-how-it-works-text22 {
  font-weight: 400;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation-name: fadeIn;
}
  